body {
	margin: 0;
	font-family: "microsoft yahei",arial,tahoma,helvetica,sans-serif
}

#app,body,html {
	overflow: hidden;
	width: 100%;
	height: 100%
}

#app {
	position: relative
}

#map {
	width: 100%;
	height: 100%
}

.left-tool {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1005;
	overflow: hidden;
	width: 250px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 2px 5px 5px rgba(0,0,0,.3);
	-webkit-transition: .3s;
	transition: .3s
}

.header-box {
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #cbcbcb;
	background: #fff
}

header {
	position: relative;
	z-index: 1;
	padding: 10px 0;
	box-shadow: 0 1px 1px rgba(0,0,0,.3)
}

.header-logo {
	float: left;
	margin-top: 5px;
	margin-left: 18px;
	width: 125px;
	height: 24px;
	background: url(../images/indexImg.png) -669px 0 no-repeat
}

.clearfix:after,.clearfix:before {
	clear: both;
	display: table;
	content: ""
}

#menu_display {
	float: right;
	margin-top: 8px;
	margin-right: 10px;
	width: 19px;
	height: 15px;
	border: none;
	background: url(../images/indexImg.png) -324px 0 no-repeat;
	cursor: pointer
}
#menu_display:hover {
    background-position: -834px 0;
}
.left-down {
	position: relative;
	display: none
}

.map-btn-top {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999;
    background: #fff;
    padding: 2px 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}
.map-btn-top .map-btn-common {
    padding: 0 15px 0 15px;
    background: #fff;
    float: left;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    color: #bdbdbd;
    position: relative;
}
.map-btn-top .map-btn-common:hover {
    color: #5193e8;
}
.map-btn-top .to-index i {
    width: 14px;
    height: 13px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    background:url(../images/indexImg.png) -866px 0 no-repeat;
}
.map-btn-top .to-index:hover i {
    background:url(../images/indexImg.png) -893px 0 no-repeat;
}
.map-btn-top .to-old i{
    width: 13px;
    height: 13px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
    background:url(../images/indexImg.png) -853px 0 no-repeat;
}
.map-btn-top .to-old:hover i {
    background:url(../images/indexImg.png) -880px 0 no-repeat;
}

.map-btn-top .to-en i {
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
    background:url(../images/service/service.png) -9px -23px no-repeat;
}
.map-btn-top .to-en:hover i {
    background:url(../images/service/service.png) -27px -23px no-repeat;
}

.map-btn-top .map-btn-common:not(:last-child):after {
    height: 12px;
    width: 1px;
    background: #bdbdbd;
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
}
/***********�Ҳม��������*************/
.floattool{
	width:38px;
	height:38px;
	position:absolute;
	right:10px;
	top:20px;
	/*margin-top:-82px;*/
	background:white;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
	z-index: 999;
}
.floattool > div{
	width:38px;
	height:38px;
	font-size:12px;
	line-height:38px;
	text-align:center;
	cursor:pointer;
}
.floattool div.v_separator{
	width:20px;
	height:1px;
	border-bottom:1px solid #cccccc;
	margin:0px 9px;
}

.floattool .icon{
	width:22px;
	height:22px;
	float:left;
	margin:8px;
}
.floattool .layer_nav .icon{
	background:url(../images/indexImg.png) -495px 0 no-repeat;
}
.floattool .table_nav .icon{
	background:url(../images/indexImg.png) -517px 0 no-repeat;
}
.floattool .graphic_nav .icon{
	background:url(../images/indexImg.png) -473px 0 no-repeat;
}
.floattool .time_nav .icon{
	background:url(../images/indexImg.png) -451px 0 no-repeat;
}
.float-tool-title{
	background:#000;
	width:50px;
	height:25px;
	position:absolute;
	display:none;
	color:white;
	font-size:11px;
	border-radius:3px;
	z-index:1010;
}
.float-tool-title .title{
	width:100%;
	height:100%;
	text-align:center;
	line-height:25px;
}
.float-tool-title .right-arrow{
	width:0px;
	height:0px;
	left:50px;
	top:8px;
	position:absolute;
	border-top:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
}
.float-tool-title .up-arrow{
	width:0px;
	height:0px;
	left:20px;
	top:-5px;
	position:absolute;
	border-left:5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
}

.layer-items img{
	width:74px;
	height:54px;
}

.layer-arguments span:first-child{
	float: left;
	display: block;
} 
.layer-arguments .uncheck, .layer-arguments .check{
	float: right;
	display: block;
	margin-top: 12px;
	width: 14px;
	height: 14px;
}
.layer-arguments .uncheck{
	background: url(../images/indexImg.png) -90px 0 no-repeat;	
}
.layer-arguments .check {
	background: url(../images/indexImg.png) -104px 0 no-repeat;
}
.layer-pop {
    position: absolute;
    z-index: 999;
    right: 40px;
    top: 0;
    background: #fff;
    border-radius: 3px;
    width: 251px;
    font-size: 13px;
}
.layer-pop .layer-items {
    padding-top: 13px;
}
.layer-pop .layer-items a {
    width: 72px;
    float: left;
    text-align: center;
    line-height: 20px;
    color: #333;
}
.layer-pop .layer-items a img {
    border: 2px solid transparent;
    border-radius: 3px;
}
.layer-pop .layer-arguments {
    margin-top: 4px;
    height: 36px;
    line-height: 36px;
    border-top: 1px solid #eee;
}
.layer-pop a.active {
    color: #337fe5;
}
.layer-pop a.active img {
    border: 2px solid #337fe5;
}
.main_table,.main_graphic{
	display:none;
}
.dlbtips, .noDataTips{
	position:absolute;
	left:50%;
	top:20px;
/* 	width:210px; */
	height:30px;
	line-height:30px;
	margin-left:-105px;
	opacity:0.7;
	background:rgb(21, 21, 22);
	font-size:15px;
    z-index: 100;
}
.dlbtips .tabtop_rt,.noDataTips .tabtop_rt{
	float:left;
	margin-left:10px;
}
.add_service{
    color: #bdbdbd;
	position:absolute;
	right:270px;
	top:20px;
	background:white;
	border-radius:2px;
	padding:4px 10px;
	font-size:14px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	cursor:pointer;
	z-index:999;
}
.add_service:hover{
	color:#3f88e7;
}
.add_service .add_icon{
	display:inline-block;
	margin-right:5px;
	width: 14px;
	height: 12px;
	background: url(../images/service/service.png) -100px -5px no-repeat;
}
.service_dialog{
	position:absolute;
	left:50%;
	top:50%;
	width:600px;
	min-width:400px;
	height:330px;
	margin-left:-300px;
	margin-top:-165px;
	background:white;
	z-index:99999999;
	font-size:15px;
	box-shadow:0px 3px 3px 0px rgba(10, 2, 4, 0.2);
	border-radius:2px;
}
#service_mask{
	position:absolute;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.5;
	z-index:9999999;
	left:0px;
	top:0px;
	display:none;
	text-align: center;
}

.service_url input{
	width:419px;
	margin-left:10px;
	font-size:14px;
	padding:7px 10px;
	border:1px solid #eee;
}
.service_operator{
	margin-top:80px;
}
.service_operator span{
	border-radius:2px;
	padding:2px 20px;
	cursor:pointer;
}
#service_ok {
	margin-left:210px;
	background:#5193e8;
	color:#FFFFFF;
	border:1px solid #5193e8;
}
#service_cancel {
	margin-left:20px;
	border:1px solid grey;
}
#service_cancel:hover{
	background:#5193e8;
	color:#FFFFFF;
	border:1px solid #5193e8;
}
#popup_container {
	width:30%;
	background: #fff;
	position: absolute; 
	z-index: 99999999; 
	left:50%;
	top:50%;
	box-shadow:0px 3px 3px 0px rgba(10, 2, 4, 0.2);
}
#popup_title {
	width:100%;
	text-align:center;
	margin-top:28px;
	color:#575757;
	font-size:24px;
}
#popup_content {
	width:100%;
	margin-top:30px;
}
#popup_message {
	font-size:13px;
	text-align:left;
	margin-right:13px;
	margin-left:13px;
	line-height:22px;
	word-wrap:break-word; 
	white-space:normal; 
	word-break:break-all;
}
#popup_panel {
	text-align:center;
	margin-top:32px;
	margin-bottom:40px;
}
#popup_ok{
	height:35px; 
	background:#5193e8;
	color:white;
	width:80px;
	font-size:14px; 
	border:1px solid #5193e8;
	cursor:pointer; 
	text-align:center;
	border-radius:4px;
	margin:0px;
}
.service_dialog .content .service_type{
	margin-top:28px;
}
.service_dialog .content .service_url{
	margin-top:40px;
}
.service_dialog .service_close,#popup_container .popup_close{
	padding:0px;
	float:right;
	width: 12px;
	height: 12px;
	background: url(../images/service/service.png) -8px -5px no-repeat;
	margin-top:10px;
	margin-right:10px;
	cursor:pointer;
}
.service_dialog .service_close:hover,#popup_container .popup_close:hover{
	background: url(../images/service/service.png) -25px -5px no-repeat;
}
.service_dialog .service_header{
	text-align: center;
	margin-top:28px;
	font-size:20px;
	color:#4c4c4c;
}
.service_type .type_span,.service_url .url_span{
	margin-top:8px;
}
.service_type .type_span,.service_url .url_span{
	float:left;
	padding:0px;
	margin-left:42px;
	font-size:14px;
	color:#565656;
}
.service_type .service{
	left: 101px;
	position: absolute;
	border:1px solid #eee;
	margin-left:37px;
	cursor:pointer;
	background:white;
}
.service_type .service:hover{
	border:1px solid #5193e8;
}
.service_type .service .service_name{
	display:inline-block;
	padding-top:7px;
	padding-bottom:8px;
	margin-left:16px;
	font-size:14px;
	color:#808080;
}
.service_type .service .down{
	display:inline-block;
	width: 16px;
	height: 12px;
	background: url(../images/service/service.png) -42px -5px no-repeat;
	cursor:pointer;
	margin-left:25px;
	margin-right:5px;
}
.service #service_type{
	display:none;
}
.service #service_type li {
	padding-top:7px;
	padding-bottom:8px;
	margin-left:16px;
	margin-right:16px;
	font-size:14px;
	color:#808080;
	border-top:1px solid #eee;
}
.service #service_type li:hover{
	color:#5193e8;
}
.service_dialog .content{
	position:relative;
}
.service_dialog .content .validate_info,.service_dialog .content .service_loading{
	position:absolute;
	text-align:center;
	width:100%;
	margin-top:20px;
	display:none;
}
.validate_info .alert_icon{
	display:inline-block;
	width: 20px;
	height: 18px;
	margin-top: 2px;
	background: url(../images/service/service.png) -116px -2px no-repeat;
	float: left;
  	margin-left: 37%;
}
.validate_info .alert_text, .service_loading span{
	display: inline-block;
  	float: left;
  	font-size:16px;
  	color:#fc0000;
  	margin-left:8px;
}
.service_loading img{
	width:16px;
	height:16px;
	float:left;
	margin-left: 37%;
	margin-top: 3px;
}
.service_loading span{
	color:#b8b8b8;
}