ul {
	list-style: none
}

div,h3,li,span,ul {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none
}

a:active,a:hover {
	outline: 0
}

.classify-box {
	float: left;
	width: 58px;
	border-right: 1px solid #eee;
	background: #fff
}

.classify,.classify-list {
	position: relative
}

.classify-list {
	display: block;
	width: 58px;
	height: 55px;
	cursor: pointer
}

.collection.active,.place.active,.special.active {
	background: #337fe5
}

.specialNav {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 20px;
	height: 20px;
	background: url(../images/subject.png) 0px 0 no-repeat;
}

.specialNav.active {
	top: 17px;
	left: 18px;
	width: 22px;
	height: 21px;
	background: url(../images/indexImg.png) no-repeat;
	background-position: -407px 0;
}

.placeNav {
	position: absolute;
	top: 16px;
	left: 19px;
	width: 20px;
	height: 20px;
	background: url(../images/indexImg.png) -814px 0 no-repeat
}

.placeNav.active {
	top: 16px;
	left: 20px;
	width: 20px;
	height: 20px;
	background-position: -794px 0
}

.collectionNav {
	position: absolute;
	top: 15px;
	left: 17px;
	width: 23px;
	height: 23px;
	background: url(../images/indexImg.png) -539px 0 no-repeat
}

.collectionNav.active {
	top: 1pc;
	left: 18px;
	width: 22px;
	height: 22px;
	background-position: -385px 0
}

.classify-content {
	float: left;
	display: none;
	overflow: hidden;
	margin-left: 10px;
	background: #fff;
}

@media screen and (max-height:800px) {
	.classify-box {
		height: 500px;
	}
	.classify-content {
		height: 345px;
	}
	#subjectTree {
		height: 275px;
	}
}

@media screen and (min-height:800px) and (max-height:1050px){
	.classify-box {
		height: 700px;
	}
	.classify-content, .search-content {
		height: 545px !important;
	}
	#subjectTree {
		height: 475px;
	}
}

@media screen and (min-height:1050px) {
	.classify-box {
		height: 850px;
	}
	.classify-content, .search-content {
		height: 595px !important;
	}
	#subjectTree {
		height: 525px;
	}
}

.classify-tool {
	line-height: 55px;
}

.clear-all, .clear-search {
	float: right;
	margin-top: 22px;
	margin-right: 15px;
	padding-left: 22px;
	color: #3f88e7;
	line-height: 33px;
	font-size:13px;
    font-style: italic;
}

.clear-all span {
    display:none;
	float: left;
	/*display: block;*/
	margin-top: 11px;
	margin-right: 5px;
	width: 11px;
	height: 13px;
	background: url(../images/indexImg.png) -28px 0 no-repeat;
}

#subjectTree {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	width: 241px;
}

.classify-title {
	float: left;
	color: #333;
	font-weight: 400;
	font-size:17px;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	margin-top: -20px;
	margin-left: -20px;
	text-align: center;
}

.classify-children .children-lv1 {
	margin-top: 6px;
	width: 96%;
	border: 1px solid #eee;
}

.lv1-title {
	display: block;
	padding-left: 10px;
	height: 40px;
	color: #000;
	line-height: 40px;
	font-size:14px;
}

.children-lv1:first-child {
	margin-top: 0;
}

.classify-children .active .lv1-title {
	background: #eaf1fb;
	color: #4187e7;
}
.classify-children .lv1-title:hover {
    background: #eaf1fb;
}
.children-lv2 {
	padding: 0 15px;
}
.children-lv2.ischecked {
    background: #f6f6f6;
}
.lv2-title {
	position: relative;
	display: block;
	padding: 7px 0;
	color: #000;
	line-height: 1pc;
}

.lv2-text {
	padding-left: 5px;
	font-size:13px;
}

.lv2-info {
	overflow: hidden;
	padding-left: 25px;
	height: 0;
	transition: .3s;
	font-size:12px;
}

.classify-children .checkbox {
	float: left;
	display: block;
	margin-top: 1px;
	width: 14px;
	height: 14px;
	background: url(../images/indexImg.png) -90px 0 no-repeat;
}

.classify-children .help {
	float: right;
	width: 11px;
	height: 15px;
	background: url(../images/list-help.png) 0 0 no-repeat;
}
.classify-children .help:hover {
    background: url(../images/list-help-over.png) 0 0 no-repeat;
}
.classify-children .ischecked .checkbox {
	background-position: -78pt 0;
}

.classify-children .ischecked .lv2-info {
	height: auto;
}

.classify-children .ischecked .lv2-title {
	/*color: #487cb4;*/
}

.triangle-down {
	float: right;
	display: block;
	margin-top: 17px;
	margin-right: 10px;
	width: 9pt;
	height: 7px;
	background: url(../images/indexImg.png) no-repeat;
	background-position: -39px 0;
	transition: .1s;
}

.down-up {
	clear: both;
	width: 100%;
	height: 31px;
	border-top: 1px solid #eee;
	background: #fff;
	text-align: center;
	cursor: pointer;
}

.down-up-btn {
	display: inline-block;
	margin-top: 11px;
	width: 0;
	height: 0;
	border-top: none;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ccc;
	border-left: 8px solid transparent;
}
.subject-brief{
	position:absolute;
	width:320px;
	background:white;
	box-shadow: 2px 5px 5px rgba(0,0,0,.3);
	padding:10px;
	left:400px;
	top:0px;
	font-size:14px;
    z-index: 100;
}
.subject-brief .brief-header{
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
}
.subject-brief .brief-header span:last-child{
	float:right;
}
.subject-brief .brief-header a{
	color: #3f88e7;
	text-decoration:underline;
}
.subject-brief .brief-body .brief-title{
	font-weight:bold;
	margin:5px 0px;
}
.subject-brief .brief-body .brief-content P{
	font-size:13px;
	line-height:25px;
}
.hover_subject_54 .subject-brief .brief-header span.brief-url {
    display: none;
}
