.table-body{
	height:300px;
	line-height:300px;
	text-align:center;
	width:290px;
	position:absolute;
	overflow:hidden;
	top:70px;
	left:9px;
	border-left:1px solid #ededed;
	font-size:13px;
}
.table-body table{
	background:white;
	border-collapse:collapse;
	border-spacing:0;
	/*position:relative;	*/
    position: static;
	font-size:11px;
}
.table-body tr{
	height:23px;
	line-height:23px;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
	nowrap:nowrap;
}
.table-body tbody tr:hover{
	background:#3f88e7;
	color:white;
	cursor:pointer;
}
.table-body th{
	background:#f0f1f3;
	padding-left:5px;
	position:relative;
	font-weight:normal;
}
.table-body tr th:last-child,.table-body tr td:last-child{
	display:none;
}
.table-body th:nth-last-child(2) .separator-line{
	display:none;
}
.table-body td{
	padding-left:5px;
}
.table-body th>div,td>div{
	white-space:nowrap;
	padding-right:50px;
	text-align:left;
}
.titles_rt{
	display:block;
	width:10px;
	position:absolute;
	right:20px;
	top:3px;
	padding:0 !important;
}
.titles_rt div{
	margin-top:2px;
	cursor:pointer;
	display:block;
	width:10px;
	height:7px;
	padding:inherit;
}
.titles_rt .up{
	background:url("../images/up.png") 0 0 no-repeat;
}
.titles_rt .down{
	background:url("../images/down.png") 0 0 no-repeat;
}
.separator-line{
	width:1px;
	height:12px;
	background:#cccccc;
	position:absolute;
	right:10px;
	top:7px;
	padding:0 !important;
}
.maskTable{
	width:9px;
	position:absolute;
	height:300px;
	right:0px;
	background:white;
	top:0px;
	border-left:1px solid #ededed;
}
/******ͳ�Ʊ��������������ʽ*******/
.main_table{
	width:300px;
	background:#FFF;
	opacity:0.95;
	position:absolute;
	right:50px;
	top:20px;
	left:auto;
	box-shadow:0px 0px 15px #ccc;
	overflow:hidden;
	z-index:1200;
}
.main_tabletop{
	height:30px;
	background:#5193e8;
	position:absolute;
	width:100%;
	left:0px;
	top:0px;
	cursor:move;
}
.tabtop_left{
	float:left;
	display:inline;
	color:#FFF;
	line-height:30px;
	margin-left:15px;
	font-size:13px;
	font-weight:bold;
}
.tabtop_rt{
	float:right;
	display:block;
	width:14px;
	height:14px;
	background:url("../images/indexImg.png") -160px 0px no-repeat;
	cursor:pointer;
	margin:8px 8px 0px 0px;
}
.data{
	margin:12px 0px; 
}
.data .condition{
	width:100%;
	height:50px;
	margin-top:30px;
}
.condition .SumoSelect{
	margin-top:0px;
}
.condition .SumoSelect .CaptionCont{
	height:25px;
}
.condition .SumoSelect .opt{
	font-size:13px;
}
.data_main .CaptionCont > span{
	width:76px;
}
.data_main .SelectBox{
	width:100px;
}
.date_main .SelectBox{
	width:83px;
}
.data_mainle{
	 float:left;
	 display:inline;
	 margin-left:10px;
	 font-size:13px;
	 color:#333333;
	 margin-top:9px;
}
.data_mainrt{
	 float:left;
	 display:inline;
	 margin-top:5px;
}
.data_mainrt span{
	display:block;
	float:left;
	font-size:13px;
}
.select_datetime{
	width:91px;
}
.date_img{
	overflow:auto;
	position:absolute;
	left:15px;
	top:90px;
}
.date_img img{
	display:inline-block;
	margin:7px 20px 0px 0px;
	cursor:pointer;	
}

.main_graphic{
	position:absolute;
	right:50px;
	top:420px;
	background:#FFFFFF;
	box-shadow:0px 0px 15px #ccc;
	font-size: 11px; 
	width:430px;
	height:270px;
	/*overflow:hidden;*/
	z-index:1200;
}

.static_nav{
	position:absolute;
	top:30px;
	left:0px;
	width:100%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #E7E7E7;
}

.static_nav .SumoSelect{
	float:left;
	margin-top:7px;
}
.static_nav .indicator{
	float:left;
	margin-left:10px;
	font-size:13px;
}

#column_graphic,#line_graphic,#pie_graphic{
	margin-left:15px;
	float:left;
	display:block;
	cursor:pointer;
	margin-top:7px;
	padding:2px;
}
#column_graphic img,#line_graphic img ,#pie_graphic img {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}
#column_graphic.active,#line_graphic.active,#pie_graphic.active{
	border:1px solid red;
}

#static_chart{
	width:100%;
	text-align:center;
	overflow:auto;
	margin-top:70px;
	overflow:hidden;
}

.static_mask{
	position:absolute;
	width:100%;
	height:100%;
	background:white;
	opacity:0;
	z-index:999;
	left:0px;
	top:0px;
	dispaly:none;
}

.main_graphic .static_mask{
	z-index:1201;
}
.legend_subject{
	
}
.legend_line{
	height:13px;
	line-height:13px;
	margin-bottom:5px;
}
.legend_line div{
	width:13px;
	height:13px;
	margin-right:4px;
	float:left;
	border:1px solid grey;
}
.property_popup {
    z-index: 999;
}
.property_popup, .layer-custom, .style-custom, .opacity-custom{
	position:absolute;
}
.layer-custom, .style-custom, .opacity-custom{
	background:white;
	border-bottom:0px;
	font-size:13px;
	z-index:999;
	border:1px solid #f5f5f5;
	box-shadow:0px 0px 15px #ccc;
}
.layer-custom{
	border-radius:5px;
}
.layer-custom ul li{
	display:block;
	border-bottom:1px solid #f5f5f5;
	padding:5px;
	cursor:pointer;
	width:80px;
    text-indent: 1em;
}
.layer-custom ul li:hover{
	background:#5193e8;
	color:white;
}
.layer-custom ul li:first-child{
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
.layer-custom ul li:last-child{
	border-bottom:0px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
.style-custom,.opacity-custom{
	width:250px;
	border:1px solid #f5f5f5;
	padding:5px;
}
.style-custom .header,.opacity-custom .header{
	height:20px;
	line-height:20px;
	border-bottom:1px solid #ccc;
}
.style-custom .header .title,.opacity-custom .header .title{
	float:left;
	font-weight:bold;
}
.style-custom .header .close,.opacity-custom .header .close{
	float:right;
	cursor:pointer;
}
.style-custom .middle{
	height:60px;
}
.style-custom .middle>div{
	float:left;
	width:70px;
	padding:10px;
	text-align:center;
}
.style-custom .polygon .icon, .style-custom .symbol .icon {
    border: 2px solid transparent;
}
.style-custom .active .icon {
    border: 2px solid #337fe5;
}
.style-custom .middle .icon{
	width:50px;
	height:50px;
	margin:0 auto;
}
.style-custom .middle .polygon:hover,.style-custom .middle .symbol:hover{
	cursor:pointer;
	color:#5193e8;	
}
.style-custom .middle .polygon .icon{
	background:url("../images/styleedit/level-over.png") 0 0 no-repeat;
}
.style-custom .middle .symbol .icon{
	background:url("../images/styleedit/marker.png") 0 0 no-repeat;
}
.style-custom .bottom,.opacity-custom .bottom{
	clear:both;
}
.style-custom .color-panel{
	clear:both;
	margin-top:45px;
}
.style-custom .color-panel>div{
	width:23px;
	float:left;
	margin-right:4.7px;
	border-bottom:1px solid grey;
	cursor:pointer;
}
.single-color .SumoSelect{
	float:left;
}
.single-color .SumoSelect .SelectBox{
	width:80px;
}
.single-color .single, .multi{
	float:left;
	width:80px;
	height:26px;
	margin-top:10px;
	line-height:26px;
	text-align:center;
	cursor:pointer;
}
.single-color .single{
	background:#5193e8;
	color:white;
}
.single-color .multi{
	background:#ededed;
}
.style-custom .shape{
	margin-top:10px;
	margin-bottom:10px;
	height:40px;
}
.style-custom .shape .circle,.style-custom .shape .rectangle{
	width:40px;
	height:40px;
	background:#fbe27b;
	float:left;
	margin-left:20px;
	border:2px solid #fbe27b;
	cursor:pointer;
}
.style-custom .shape .circle{
	border-radius:25px;
}
.style-custom .title{
	clear:both;
}
.style-custom .symbol-color-panel{
	clear:both;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
	height:27px;
}
.style-custom .symbol-color-panel .color{
	width:25px;
	height:25px;
	float:left;
	border:1px solid grey;
	margin-left:9px;
	cursor:pointer;
}

.style-custom .scroll-bar,.opacity-custom .opacity-bar{
	height: 20px;
	position: relative;
	margin-top: 10px;
	margin-left: 0px;
	width:200px;
	float:left;
}
.opacity-custom .bottom{
	margin-top: 10px;
	margin-bottom:60px;
}
.opacity-custom span{
	display: block;
  	float: left;
  	margin-top: 9px;
  	margin-left: 2px;	
}
.leaflet-zoom-hide{
	position:absolute;
}
.imageSlider{ margin:0;padding:0; height: 1px; margin-top: 6px; width: 195px; border-bottom: 1px solid grey;}
.imageSliderFill{ margin:0;padding:0;width:10px; height: 0px;background-color:#0096ff; border-bottom: 1px; filter:alpha(opacity=10); -moz-opacity:0.1; opacity:0.1;}
.imageBar { margin:0;padding:0; height: 12px; width: 12px; background-color: #3f88e7; border-radius: 50%; box-shadow: 0 0 1px #555; border: 2px solid #fff;}
.slide_txt,.opacity_txt{display:block;float:left;width: 30px;height:20px;border:1px solid #cccccc;margin-top:8px;text-align:center;}
@media screen and (max-height:900px) {
	.main_table{
		height: 250px;
	}
	.main_graphic{
		top:270px;
	}
	.table-body{
		height:171px;
		line-height:171px;
	}
	.maskTable{
		height:171px;
	}
	.SumoSelect > .optWrapper > .options{
		max-height:100px;
	}
}
@media screen and (min-height:900px) {
	.main_table{
		height: 380px;
	}
	.main_graphic{
		top:410px;
	}
 	.table-body{
		height:300px;
		line-height:300px;
	}
	.maskTable{
		height:300px;
	}
	.SumoSelect > .optWrapper > .options{
		max-height:200px;
	}
}
#static_chart .tooltip{border-radius:2px;position:absolute;background:white;border:1px solid #7cb5ec;opacity:0.9;padding:2px;}
#static_chart .tooltip span{font-size: 12px;margin: 4px}
#static_chart .tooltip td{  white-space: nowrap;font-size: 12px;text-align: left;padding:2px}
#static_chart svg .title{font-size:14px;text-anchor:middle;}
.inner_line path,.inner_line line {fill: none;stroke:#E7E7E7;shape-rendering: crispEdges;}
.axis text {font-size: 11px;fill:#999;}
.axis path,.axis line {fill: none;stroke: black;shape-rendering: crispEdges;}
svg .path {
  animation: dash 5s linear forwards;
}
.bar {fill: steelblue;}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}